In [53]:
import pandas as pd
import numpy as np

ds = '../../datasets/pandas-cookbook/movie.csv'

movies = pd.read_csv(ds, delimiter=',')
usecols=['movie_title', 'genres', 'gross', 'budget', 'content_rating']
movies = movies[usecols]
movies.head()

,movie_title,genres,gross,budget,content_rating
0,Avatar,Action|Adventure|Fantasy|Sci-Fi,760505847.0,237000000.0,PG-13
1,Pirates of the Caribbean: At World's End,Action|Adventure|Fantasy,309404152.0,300000000.0,PG-13
2,Spectre,Action|Adventure|Thriller,200074175.0,245000000.0,PG-13
3,The Dark Knight Rises,Action|Thriller,448130642.0,250000000.0,PG-13
4,Star Wars: Episode VII - The Force Awakens,Documentary,NaN,NaN,NaN

#### 1. regular method

In [55]:
movies['profits_1'] = movies.gross - movies.budget

#### 2. assign-method

In [56]:
profit_idx = movies.columns.get_loc('budget') + 1

movies.insert(
    loc=profit_idx, 
    column='profits_2',
    value=movies.gross - movies.budget)

#### 3. insert-method

In [58]:
movies = movies.assign(profits_3=(movies.gross - movies.budget))

In [59]:
movies.head()

,movie_title,genres,gross,budget,profits_2,content_rating,profits_1,profits_3
0,Avatar,Action|Adventure|Fantasy|Sci-Fi,760505847.0,237000000.0,523505847.0,PG-13,523505847.0,523505847.0
1,Pirates of the Caribbean: At World's End,Action|Adventure|Fantasy,309404152.0,300000000.0,9404152.0,PG-13,9404152.0,9404152.0
2,Spectre,Action|Adventure|Thriller,200074175.0,245000000.0,-44925825.0,PG-13,-44925825.0,-44925825.0
3,The Dark Knight Rises,Action|Thriller,448130642.0,250000000.0,198130642.0,PG-13,198130642.0,198130642.0
4,Star Wars: Episode VII - The Force Awakens,Documentary,NaN,NaN,NaN,NaN,NaN,NaN