In [2]:
import numpy as np
import pandas as pd

#### REPLACE 'Y' AND 'N' WITH 'YES' AND 'NO'

In [3]:
ser = pd.Series(['Y', 'Y', 'N', 'N'])
ser[ser == 'Y'] = 'Yes'
ser[ser == 'N'] = 'No'
ser

0    Yes
1    Yes
2     No
3     No
dtype: object

### REPLACE EMTPY VALUES

In [16]:
ser = pd.Series(['blue', 'red', 'green', '', 'blue', '', 'red'])
print(ser.values)
ser[ser == ''] = 'NO CATEGORY'
print(ser.values)

['blue' 'red' 'green' '' 'blue' '' 'red']
['blue' 'red' 'green' 'NO CATEGORY' 'blue' 'NO CATEGORY' 'red']

#### REPLACE NaN VALUES

In [24]:
ser = pd.Series(['blue', 'red', 'green', np.nan, 'blue', np.nan, 'red'])
print(ser.values)
ser[ser.isna()] = 'NO CATEGORY'
print(ser.values)

['blue' 'red' 'green' nan 'blue' nan 'red']
['blue' 'red' 'green' 'NO CATEGORY' 'blue' 'NO CATEGORY' 'red']

#### REPLACE ALL VALUES OTHER THAN THE TWO MOST FREQUENT
keep only top 2 most frequent values in series as it is and replace everything else as ‘Other’?

In [42]:
# random state
np.random.RandomState(100)

# method 1
ser = pd.Series(np.random.randint(1, 5, [12]))
ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'

# method 2:
ser = pd.Series(np.random.randint(1, 5, [12]))
top_two = ser.value_counts().index[:2]
pd.Series(np.where((ser == top_two[0]) | (ser == top_two[1]), ser, 'Other'))

# method 3:
ser = pd.Series(np.random.randint(1, 5, [12]))
pd.Series(np.where(np.in1d(ser, ser.value_counts().index[:2]), ser, 'Other')).values

array(['Other', '4', 'Other', '1', '4', '1', 'Other', '1', '1', '1', '4',
       'Other'], dtype=object)

#### UPDATE SERIES

In [37]:
ser = pd.Series(['New York', 'Oslo', 'San Antonio', 'London'])
print('Original Series: \n', ser.values, '\n')

ser.update(pd.Series(['Bergen', 'Liverpool'], index=[1, 3]))
print('Altered Series: \n', ser.values)

Original Series:
 ['New York' 'Oslo' 'San Antonio' 'London']

Altered Series:
 ['New York' 'Bergen' 'San Antonio' 'Liverpool']

### Reshape the series ser into a dataframe with 7 rows and 5 columns

In [4]:
# Input
ser = pd.Series(np.random.randint(1, 10, 35))

# Solution
pd.DataFrame(ser.values.reshape(7,5))

   0  1  2  3  4
0  9  9  3  5  1
1  3  1  5  6  7
2  6  5  4  5  9
3  7  3  8  5  4
4  2  4  3  3  4
5  8  1  6  7  2
6  7  1  1  9  5

### How to bin a numeric series to 10 groups of equal size?
Bin the series ser into 10 equal deciles and replace the values with the bin name.

In [3]:
# Input
ser = pd.Series(np.random.random(20))
print(ser.head())

# Solution
pd.qcut(ser, q=[0, .10, .20, .3, .4, .5, .6, .7, .8, .9, 1], 
        labels=['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th']).head()

0   0.38
1   0.01
2   0.21
3   0.83
4   0.43
dtype: float64

0    4th
1    1st
2    2nd
3    9th
4    5th
dtype: category
Categories (10, object): [1st < 2nd < 3rd < 4th ... 7th < 8th < 9th < 10th]