In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df = sns.load_dataset('tips')

In [3]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [7]:
groupby = df.groupby(['day', 'sex'])['size'].sum()
groupby

day   sex
Thur  Male       73
      Female     79
Fri   Male       21
      Female     19
Sat   Male      156
      Female     63
Sun   Male      163
      Female     53
Name: size, dtype: int64

#### Unstack

In [11]:
groupby.unstack(level=0)

day     Thur  Fri  Sat  Sun
sex
Male      73   21  156  163
Female    79   19   63   53

In [34]:
test = groupby.unstack(level=-1)
test.columns = test.columns.astype('string')

In [35]:
test.columns

Index(['Male', 'Female'], dtype='object', name='sex')

In [30]:
test

      male  female
day
Thur    73      79
Fri     21      19
Sat    156      63
Sun    163      53

In [25]:
df_us.columns

CategoricalIndex(['Male', 'Female'], categories=['Male', 'Female'], ordered=False, name='sex', dtype='category')

In [24]:
df_us = groupby.unstack(level=-1)
df_us['ratio'] = df_us.Male / df_us.Female
df_us

TypeError: 'fill_value=ratio' is not present in this Categorical's categories

In [18]:
df_us.Male / df_us.Female

day
Thur    0.924051
Fri     1.105263
Sat     2.476190
Sun     3.075472
dtype: float64

#### Stack

In [23]:
df_us.stack(level=0)

day   sex
Thur  Male       73
      Female     79
Fri   Male       21
      Female     19
Sat   Male      156
      Female     63
Sun   Male      163
      Female     53
dtype: int64