# STRING METHODS

In [ ]:
import numpy as np
import pandas as pd

%config IPCompleter.greedy = True

# Suppress scientific notation
np.set_printoptions(suppress=True)

In [12]:
data = {
    'City': ['washington', 'brooklyn', 'omaha', 'pittsburgh'],
    'State': ['D.C', 'NY', 'NE', 'PA'],
    'Zip-Code': ['20003', '11211-1755', '68154', '15211']
}

data = pd.DataFrame(data)
data

         City State    Zip-Code
0  washington   D.C       20003
1    brooklyn    NY  11211-1755
2       omaha    NE       68154
3  pittsburgh    PA       15211

### Change the first character of each city to uppercase

In [13]:
# method one
data['City'].str.capitalize()

# method 2
data['City'].map(lambda x: x.title())

# method 3
data['City'].map(lambda x: x[0].upper() + x[1:])

# method 4
pd.Series([i.title() for i in data['City']])

0    Washington
1      Brooklyn
2         Omaha
3    Pittsburgh
dtype: object